<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        body {
            background-image: url("{{ url_for('static', filename='images/face_ad_sweep.jpg') }}");
            /* 画像パス */
            background-size: cover;
            /* 画面全体に拡大 */
            background-position: center;
            /* 中央に配置 */
            background-repeat: no-repeat;
            /* 繰り返さない */
        }
    </style>
</head>

<body>
    <!-- <form method="GET" action="/ad_button_click">
        <button type="submit">スタート</button>
    </form> -->
</body>

</html>
